body{
    margin-top:0;
}
#header{
    position: relative;
    background:#000;
}

.follow_us{
    float: left;
    color: #fff;
    margin-bottom: 0;
    margin-right: 10px;
}

.social_links{
    img{
        width:22px;
        margin-left: 10px;
    }
}