body{
    margin-top:0;
}
#header{
    position: relative;
    background:#000;
}

.share_nav{
    float:right;
    margin-top:18px;
}

.follow_us{
    float: left;
    color: #fff;
    margin-bottom: 0;
    margin-right: 10px;
}

.social_links{
    img{
        width:22px;
        margin-left: 10px;
    }
}

.fixed_footer{
    background:#FAFAFA;
    // position:fixed;
    bottom:0;
    padding:15px 0;
    width:100%;
}

.store_initial_container{
    position:relative;
    
    margin-bottom:30px;
}
.store_initial{
    background:#E79A00;
    color:#fff;
    font-size:24px;
    font-weight:600;
    padding: 8px 37px;
    border-radius: 50px;
    &:after{
        content:" ";
        border-top:1px solid #000;
        width: calc(100% - 90px);
        position: absolute;
        left: 90px;
        top: 25px;
    }
}


.hero_banner{
    background: url('http://assets.codecloudapp.com/sites/568ad9ee6e6f643bf4000000/image/png/1482526137000/bg_header.png');
    background-size: cover;
    padding: 30px 0;
    h2{
        color:#fff;
        font-size:18px;
        margin-top:0;
        margin-bottom:20px;
        font-weight: 600;
    }
    h3{
        color:#fff;
        font-size:18px;
        margin-top:0;
        margin-bottom:20px;
        font-weight: 100;
        line-height: 25px;
        strong{
            font-weight: 600;
        }
    }
    label{
        color:#fff;
        display: block;
        font-weight:100;
    }
}

.form-control{
    border-radius:20px;
}
.alpha_list{
    
}

.show_all{
    height:54px;
    color:#fff;
    background-color:#000;
    padding:10px 50px;
    margin:30px 0;
    font-size:24px;
    border-radius: 30px;
    display: inline-block;
    cursor:pointer;
    a{
        margin:0 5px;
        display:none;
    }
}

.num_stores_p{
    margin:15px 0;
    position:relative
}

#number_stores{
    margin-left: 15px;
    font-size: 25px;
    position: absolute;
    top: -8px;
}

.green_btn{
    background: #3AA517;
    border-radius: 100px;
    font-size: 18px;
    color: #FFFFFF;
    border: 0;
    padding: 12px 35px;
}

























